img[src="Bistecone pescando.jpg"]{
          width: 622px;
          height: 622px;
}
img[src="download (9).jpg"]{
          width: 622px;
          height: 622px;
}
img[src="ele e assim mesmo_ nao acompanho muito.jpg"]{
          width: 622px;
          height: 622px;
}